name: Deploy static site to GitHub Pages

on:
  push:
    branches:
      - main # Triggers the workflow on pushes to the main branch
  workflow_dispatch: # Allows manual triggering from the Actions tab

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
concurrency:
  group: "github-pages"
  cancel-in-progress: true

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"
      - name: Install dependencies
        run: npm ci
      - name: Build site
        # Replace 'npm run build' with your site generator's build command
        run: npm run build
        env:
          CI: false # Prevents build failures due to warnings in Create React App
          REACT_APP_PHONE_NUMBER: ${{ secrets.REACT_APP_PHONE_NUMBER }}
          REACT_APP_WHATSAPP_NUMBER: ${{ secrets.REACT_APP_WHATSAPP_NUMBER }}
      - name: Upload artifact
        # Uploads the build output for deployment
        uses: actions/upload-pages-artifact@v3
        with:
          # A path to the directory for the artifact to upload
          path: "./build" # !! IMPORTANT: Change this to your build folder (e.g., public, build, .vitepress/dist)

  # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment-url.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment-url
        uses: actions/deploy-pages@v4
